<div id="create-modal-form"  class="modal <% if (display === "true") { %>
    shown
    <%} else { %>
    notshown
    <% } %>">  
            
    <form id="form" action="/users/create-account" method="POST" class="shadow modal-content">  

        
        
        <div class="flex-row"> <div class="margin-right">Create Your Account </div>  <span class="close">&times;</span>  </div> 

        <label for="first_name_input"> First Name:</label> 
            <input class="input_bar" type="text" name="first_name_input" > 

        <label for="username_input"> Username: </label> 
            <input class="input_bar" type="text" name="username_input"> 

        <label for="email_input"> Email: </label> 
            <input class="input_bar" type="email" name="email_input">  

        <label for="password_input"> Password:</label> 
            <input class="input_bar" type="password" name="password_input">  

        <div> Please Select a Profile Picture</div>  

        <div class="flex-row">  

        <label class= "profile_picture"> <img src="images/cow.png"> </label>
            <input type="radio" name="profile_picture" value="cow">    

       <label class= "profile_picture"> <img src="images/chicken.png">  </label>
           <input type="radio" name="profile_picture" value="chicken">  

       <label class= "profile_picture"> <img src="images/moose.png">  </label>
           <input type="radio" name="profile_picture" value="moose">  
           
       <label class= "profile_picture"> <img src="images/alien.png">  </label>
           <input type="radio" name="profile_picture" value="alien"> 
        </div>
      

        <div> Age Group</div>  
            <label> Over 18?</label>
                 <input type="radio" name="over_under_18_input" value=0> 

            <label> Under 18?</label>  
                <input type="radio" name="over_under_18_input" value=1> 

            <button id="create-modal-form-submit-button" class="submit-button" type="submit">submit</button>
         
    
    </form> 
    
    </div>