
<% posts.forEach((post) => { %>
    
    <div class="shadow post-preview"> 
        <div class="postTitle"> <%= post.title %>  </div> 
        <p class="content">  <%= post.content %> </p> 
        <div class="flex-row"> 
            <button> <img class="like-button" src="images/left-arrow.png" > </button> 
             
            <button> <img class="like-button" src="images/right-arrow.png"> </button>  </div> 
        
        </div>
<% }); %> 