
<% posts.forEach(post => { %>
    
    <div class="shadow post-preview"> 
        <button class="postTitle collapsible"> <%= post.title %>  </button> 
        <p class="content">  <%= post.content %> </p>
    
    </div>
<% }); %> 