
<% posts.forEach(post => { %>
    
    <div class="shadow post-preview"> 
        <button class="postTitle collapsible"> <%= post.title %>  </button> 
        <p class="content">  <%= post.content %> </p> 
        <div class="flex-row"> <button> 0 <img class="like-button" src="images/left-arrow.png"> </button>  <button> <img class="like-button" src="images/right-arrow.png"> 0 </button>  </div>
    
    </div>
<% }); %> 