<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 

    <h1> Create Your Account</h1>
    <form> 
        <label for="first_name"> First Name:</label> 
            <input type="text" name="first_name" > <br>
        <label for="last_name"> Last Name: </label> 
            <input type="text" for="last_name"> <br>
        <label for="email_input"> Email: </label> 
            <input type="text" for="email_input"> <br>
        <form> Age Group <br>
            <label> Over 18?</label>
                 <input type="radio" name="over_under_18_input" value=0> <br>
            <label> Under 18?</label>  
                <input type="radio" name="over_under_18_input" value=1>
        </form> 

    </form>
</body>
</html>