.modal{ 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content{  
    display: none;
    position: fixed; 
    left: 20vw;
    top: 15vh;
    font-size: 30px;
    background-color: #944BBB;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 35vw; 
    height: 70vh;
    margin: 10px;

} 

.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .input_bar{ 
    width: 15vw;
  } 

  .submit-button{ 
    width: 5vw; 
    height: 5vh; 
    margin-bottom: 5px;
    font-size: 15px; 
    background-color: silver;
  }