body{ 
    font-family: "Francois One"; 
    background-color: #2A2B2E;
    letter-spacing: 3px;
}  


.menu{  

    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #29539b 74%);

    align-items: center;
    margin: 20px;

} 
.logo-pic{ 
    widows: 100px; ; 
    height:100px ;
}
#main-logo{ 
    font-size: 80px;
    letter-spacing: 5px; 
    /* -webkit-text-stroke: .1px#FCFCFC; */
}   
#main-logo:hover{ 
    top: -20px;
}





.nav-links{ 
    font-size: 35px;
}   
a:link{ 
    color: black;
} 
a:visited{
    color: black;
}

.search-area{ 
    background-color: #FCFCFC; 
    height: 120px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    justify-items:center ;
    align-items: center; 
    margin: 20px ;
} 

.search-text-area{ 
    width: 50vw;
} 

.search-button { 
    font-size: 25px;
    width: 200px;   
    height: 50px; 
    border-radius: 3px;
    margin: 0px;
    background-color: silver;
}
.container{ 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    height: 90vh;
}
.main-board{ 
    background-color:#2876f9;  
    width: 80vw; 
    height: 90vh; 
    margin: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around; 
    overflow: scroll;
} 
.trending-section{ 
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);; ; 
    width: 20vw; 
    height: 90vh; 
    margin: 20px;

}  
.flex-row{ 
    display: flex; 
    flex-direction: row; 
   
}

.trending-item{ 

} 

.trending-header{ 
    text-align: center;
    width: 5vw;
    font-size: 40px;
} 
.trending-column{ 
    width: 15vw;
   overflow:scroll;

} 


.vertical-text{ 
    writing-mode: vertical-lr;
    transform: rotate(180deg)
  
} 

.shadow {
    -webkit-box-shadow: 5px 5px 5px 6px #000;  
    -moz-box-shadow: 5px 5px 5px 6px #000;  
    box-shadow: 5px 5px 5px 6px #000;  
  } 

body .timeline-Widget{ 
border-radius: 0 ;
}