body{ 
    font-family: "Francois One"; 
    
    background-color:#F24930 ;
    
    
    letter-spacing: 3px;
}  


.menu{  

    background-color: #170A48 ;
    

    align-items: center;
    margin: 20px;

} 
.logo-pic{ 
    widows: 100px; ; 
    height:100px ;
}
#main-logo{ 
    margin-left: 10px;
    font-size: 80px;
    letter-spacing: 5px; 
    color: white;
    
}   






.nav-links{ 
    font-size: 35px;
    color: white;
}   
a:link{ 
    color: white;
} 
a:visited{
    color: white;
}

.search-area{ 
    background-color: #FCFCFC; 
    height: 120px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    justify-items:center ;
    align-items: center; 
    margin: 20px ;
} 

.search-text-area{ 
    width: 50vw;
} 

.search-button { 
    font-size: 25px;
    width: 200px;   
    height: 50px; 
    border-radius: 3px;
    margin: 0px;
    background-color: silver;
}
.container{ 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    height: 100%;
}
.main-board{ 
    background-color:#46179F;  
    width: 80vw; 
    height: 900px; 
    margin: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around; 
    overflow: scroll;
} 
.trending-section{ 
    background-color: #9F14AF;
   
    width: 20vw; 
    height: 900px; 
    margin: 20px;

}  
.flex-row{ 
    display: flex; 
    flex-direction: row; 
   
}

.trending-item{ 

} 

.trending-header{ 
    text-align: center;
    width: 5vw;
    font-size: 40px;
} 
.trending-column{ 
    width: 15vw;
   overflow:scroll; 
  

} 


.vertical-text{ 
    writing-mode: vertical-lr;
    transform: rotate(180deg)
  
} 

.shadow {
    -webkit-box-shadow: 5px 5px 5px 6px #000;  
    -moz-box-shadow: 5px 5px 5px 6px #000;  
    box-shadow: 5px 5px 5px 6px #000;  
  } 

body .timeline-Widget{ 
border-radius: 0 ;
}