.addpost{ 
    text-align: right!important; 
   height: 30px; 
   width: 30px;

}
.input-add-post{ 


}

.post-preview{ 
    display: flex;  
    flex-direction: column;  
    align-items: center;
    justify-content: space-around;
    width: 60vw ;
    height: 20vh; 
    background-color: #FCFCFC; 
    margin-top: 10px; 
    text-align: center; 


 }
.postTitle{  
    font-weight:bold;
    font-size: 24px;

} 

.content{ 
    margin: 0 50px 0 50px;
    overflow: hidden;
} 

.input_bar2{ 
    width: 40vw; 
    height: 35vh;
} 

.like-button { 
    width: 40px; 
    height: 40px;
}